<section>
  <ul class="list-group mt-3 bg-secondary">
  <h3 class="text-muted ms-3">Trends</h3>
  <li class="list-group-item">Trend 1</li>
  <li class="list-group-item">Trend 2</li>
  <li class="list-group-item">Trend 3</li>
  <li class="list-group-item">Trend 4</li>
  <li class="list-group-item">Trend 5</li>
</ul>
</section>
