<section>
  <div class="follow border bg-secondary mt-3">
    <div class="card rounded-0 border-0 text-muted mx-auto" style="max-width: 540px; background-color:whitesmoke">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-10">
            <div class="card-body py-0">
              <strong class="card-text fs-5">Who to Follow</strong>
            </div>
          </div>
        </div>
      </div>
    <div class="card border-0 mx-auto" style="max-width: 540px;">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-2 d-flex justify-content-center">
            <img class="rounded-circle" src="https://via.placeholder.com/40" alt="User Avatar">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <strong class="card-text">Author</strong>
              <small class="text-muted">@username</small>
            </div>
          </div>
        </div>
      </div>
    <div class="card border-0  mx-auto" style="max-width: 540px;">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-2 d-flex justify-content-center">
            <img class="rounded-circle" src="https://via.placeholder.com/40" alt="User Avatar">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <strong class="card-text">Author</strong>
              <small class="text-muted">@username</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
