<div class="row">
  <div class="col-3">
    <%= render partial: "trends" %>
  </div>
  <div class="col-6">
    <%= render "tweets/form", tweet: @tweet %>
    <%= render partial: "feed", locals: { tweets: @tweets } %>
  </div>
  <div class="col-3">
    <%= render partial: "who-to-follow" %>
  </div>
</div>

    
